.Table__wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    .Table--logs__wrapper{
        border: 2px solid #1282a2;
        padding: .25em;
        border-radius: 2px;
        width: 20%;
        margin: 1em;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        p{
            color: #1282a2;
        }:first-of-type{
            color: #034078;
            font-weight: bold;
        }
        
    }
}